<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="mitiendaApp.cliente.detail.title">Cliente</span> {{ cliente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mitiendaApp.cliente.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ cliente.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.cliente.direccion">Direccion</span></dt>
                <dd>
                    <span>{{ cliente.direccion }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.cliente.titulo">Titulo</span></dt>
                <dd>
                    <span>{{ cliente.titulo }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.cliente.rut">Rut</span></dt>
                <dd>
                    <span>{{ cliente.rut }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.cliente.telefono">Telefono</span></dt>
                <dd>
                    <span>{{ cliente.telefono }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
