<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="empresa">
            <h2><span jhiTranslate="mitiendaApp.empresa.detail.title">Empresa</span> {{ empresa.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mitiendaApp.empresa.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ empresa.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.empresa.direccion">Direccion</span></dt>
                <dd>
                    <span>{{ empresa.direccion }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.empresa.titulo">Titulo</span></dt>
                <dd>
                    <span>{{ empresa.titulo }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.empresa.rut">Rut</span></dt>
                <dd>
                    <span>{{ empresa.rut }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.empresa.telefono">Telefono</span></dt>
                <dd>
                    <span>{{ empresa.telefono }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/empresa', empresa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
